In [1]:
import pandas as pd

In [2]:
d = {'Cars': ['Porsche', 'Porsche', 'Ferrari', 'Ferrari'], 'Speed': [200, 215, 305,195]}

In [3]:
d

{'Cars': ['Porsche', 'Porsche', 'Ferrari', 'Ferrari'],
 'Speed': [200, 215, 305, 195]}

In [4]:
df = pd.DataFrame(d)

In [6]:
df

      Cars  Speed
0  Porsche    200
1  Porsche    215
2  Ferrari    305
3  Ferrari    195

In [7]:
df.mean()

C:\Users\mtdCoder\AppData\Local\Temp\ipykernel_18672\3698961737.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.mean()

Speed    228.75
dtype: float64

In [8]:
df[df['Cars'] == 'Porsche']

      Cars  Speed
0  Porsche    200
1  Porsche    215

In [9]:
df.groupby('Cars').sum()

         Speed
Cars
Ferrari    500
Porsche    415

In [10]:
speed_check = pd.read_csv("speed_check.csv", delimiter=';',)

In [11]:
speed_check

         Date      Car  Speed
0  2021-03-15  Porsche    315
1  2021-03-30      BMW    250
2  2021-04-02  Ferrari    295
3  2021-04-10      BMW    180
4  2021-04-15  Porsche    210
5  2021-04-20  Ferrari    230
6  2021-04-23      BMW    175
7  2021-04-30      BMW    205

In [12]:
speed_check.index

RangeIndex(start=0, stop=8, step=1)

In [13]:
speed_check.dtypes

Date     object
Car      object
Speed     int64
dtype: object

In [14]:
speed_check.groupby("Car").mean()

C:\Users\mtdCoder\AppData\Local\Temp\ipykernel_18672\2270920321.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  speed_check.groupby("Car").mean()

         Speed
Car
BMW      202.5
Ferrari  262.5
Porsche  262.5

In [ ]:
monthly = speed_check.groupby(pd.Grouper(freq='M')).mean()

In [ ]:
monthly.index = monthly.index.month_name()

In [ ]:
monthly

In [ ]:
speed_check.to_excel("SpeedCheck.xlsx")

In [ ]:
workbook = pd.ExcelWriter("SpeedCheck.xlsx")
speed_check.groupby("Car").mean().to_excel(workbook, sheet_name="Cars")
monthly.to_excel(workbook, sheet_name='Monthly')
workbook.close()

In [ ]:
workbook = pd.ExcelWriter("SpeedCheck.xlsx")
speed_check.groupby("Car").mean().to_excel(workbook, sheet_name="Cars")
monthly.to_excel(workbook, sheet_name='Monthly')

chart1 = workbook.book.add_chart({'type': 'column'})

# Configure the first series.
chart1.add_series({
    'name':       'Cars',
    'categories': '=Cars!$A$2:$A$4',
    'values':     '=Cars!$B$2:$B$4',
})

workbook.sheets['Cars'].insert_chart('D2', chart1)

workbook.close()