In [1]:
import pandas as pd

In [4]:
data = pd.read_csv('SalesData.csv', delimiter=';', parse_dates=True, index_col='Date')

In [5]:
data.head()

            Sales rep        Item  Price  Quantity  Sale
Date
2020-05-31        Mia     Markers      4         1     4
2020-02-01        Mia  Desk chair    199         2   398
2020-09-21     Oliver       Table   1099         2  2198
2020-07-15  Charlotte    Desk pad      9         2    18
2020-05-27       Emma        Book     12         1    12

In [6]:
data

            Sales rep        Item  Price  Quantity  Sale
Date
2020-05-31        Mia     Markers      4         1     4
2020-02-01        Mia  Desk chair    199         2   398
2020-09-21     Oliver       Table   1099         2  2198
2020-07-15  Charlotte    Desk pad      9         2    18
2020-05-27       Emma        Book     12         1    12
...               ...         ...    ...       ...   ...
2020-02-28     Oliver  Desk chair    199         5   995
2020-10-01     Sophia       Table   1099         4  4396
2020-07-28     Sophia        Book     12         1    12
2020-06-21       Liam         Pen      3         4    12
2020-01-26       Noah  Desk chair    199         5   995

[1000 rows x 5 columns]

In [8]:
data.dtypes

Sales rep    object
Item         object
Price         int64
Quantity      int64
Sale          int64
dtype: object

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1000 entries, 2020-05-31 to 2020-01-26
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Sales rep  1000 non-null   object
 1   Item       1000 non-null   object
 2   Price      1000 non-null   int64
 3   Quantity   1000 non-null   int64
 4   Sale       1000 non-null   int64
dtypes: int64(3), object(2)
memory usage: 46.9+ KB

In [10]:
reps_sales = data.groupby('Sales rep').sum()['Sale']

C:\Users\mtdCoder\AppData\Local\Temp\ipykernel_17436\3937596356.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  reps_sales = data.groupby('Sales rep').sum()['Sale']

In [11]:
monthly_sale = data.groupby(pd.Grouper(freq='M')).sum()['Sale']
monthly_sale.index = monthly_sale.index.month_name()

C:\Users\mtdCoder\AppData\Local\Temp\ipykernel_17436\2072250018.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  monthly_sale = data.groupby(pd.Grouper(freq='M')).sum()['Sale']

In [12]:
monthly_sale

Date
January      69990
February     51847
March        67500
April        58401
May          40319
June         59397
July         64251
August       51571
September    55666
October      50093
November     57458
December     61941
Name: Sale, dtype: int64

In [ ]:
workbook = pd.ExcelWriter('SalesReport.xlsx')
reps_sales.to_excel(workbook, sheet_name='Sales per rep')
monthly_sale.to_excel(workbook, sheet_name='Monthly')
workbook.close()

In [ ]:
workbook = pd.ExcelWriter('SalesReport.xlsx')
reps_sales.to_excel(workbook, sheet_name='Sales per rep')
monthly_sale.to_excel(workbook, sheet_name='Monthly')

chart1 = workbook.book.add_chart({'type': 'column'})

# Configure the first series.abs
chart1.add_series({
    'name': 'Sales per rep',
    'categories': "='Sales per rep'!$A$2:$A$10",
    'values': "='Sales per rep'!$B$2:$B$10",

})

workbook.sheets['Sales per rep'].insert_chart('D2', chart1)


chart1 = workbook.book.add_chart({'type': 'column'})

# Configure the first series.abs
chart1.add_series({
    'name': 'Monthly sales',
    'categories': '=Monthly!$A$2:$A$13',
    'values': '=Monthly!$B$2:$B$13',

})

workbook.sheets['Monthly'].insert_chart('D2', chart1)

workbook.close()